<% unless flash[:alert].nil? %>
  <p><strong><%= flash[:alert] %></strong></p>
<% end %>
<%= form_tag '/signin' do %>
<% if @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= submit_tag "Sign in" %>
<br><br>
     <%= link_to "Log In with Google", '/auth/google_oauth2' %>
     <br><br>
<% end %>