<h2>All Albums</h2>

<% @albums.each do |album| %>

  <br>
  <h6><strong><%= album.artist %> - <%= album.title %></strong></h6>
  <% if album.avatar&.attached? %>
    <image src="<%=(url_for(album.avatar))%>%" style="width:350px;height:350px;">
  <% end %>
  <br>
  <%= link_to "View Album", album_path(album), class: "waves-effect waves-light btn" %>
  <%= link_to "Edit Album", edit_album_path(album), class: "waves-effect waves-light btn" %>
  <br><br>
  <br>

<% end %>
