<br><br>
<small><%= link_to "Back to previous page", :back %></small>
<div class="row">
<div class="col s6">
<h5><strong>
<%= @album.artist %> -
<%= @album.title %>
</strong></h5>
<br>
<% if @album.avatar.attached? %>
    <image src="<%=(url_for(@album.avatar))%>%" style="width:350px;height:350px;">
<% end %>
<br>
<br>
<%= link_to "Edit Album", edit_album_path(@album), class: "waves-effect waves-light btn" %>
<%= link_to 'Delete Album', album_path(@album), method: :delete, class: "waves-effect waves-light btn" %>
<br><br>
<hr>
<h5>Reviews for this album:</h5>
<% @album.reviews.each do |review| %>
    <% unless review.id.nil? %>
        <strong><%= link_to review.title, album_review_path(album_id: @album.id, id: review.id) %></strong><br>
        <small>Written by: <%= review.user.name %></small><br>
        <br>
        <% if current_user.id == review.user_id %>
        <%= link_to "Edit Review", edit_album_review_path(album_id: @album.id, id: review.id), class: "waves-effect waves-light btn" %>
        <%= link_to 'Delete', album_review_path(album_id: @album.id, id: review.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn" %><br><br>
        <% end %>
        <br>
    <% end %>
<% end %>
</div>
<div class="col s6">
<div class="card-panel hoverable">
<strong>Write a Review for <%= @album.title %> by <%= @album.artist %> here:</strong>
<%= render '/reviews/form' if logged_in? %>
</div>
</div>
<br><br>
</div>