<% if @album.avatar.attached? %>
    <image src="<%=(url_for(@album.avatar))%>%" style="width:350px;height:350px;">
<% end %>
<br>
<%= @album.artist %> -
<%= @album.title %>
<br>
<%= link_to "Edit Album", edit_album_path %>
<br><br><br>

<%= render '/reviews/form' if logged_in? %>
    <h3>Album Reviews</h3>
<% @album.reviews.each do |review| %>
        <%= @review.title %>
        <%= @review.content %>
<% end %>

<br><br><br>
<%= link_to "All Albums", albums_path %><br>
<%= link_to "Upload a New Album", new_album_path %>