<h3>Edit <%= @album.reviews.name %>
<% if @review.errors.any? %>
<ul>
  <% @review.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
<%= form_for [@album, @review] do |f| %> 
      <%= f.label :title %>
      <%= f.text_field :title%>
            <br>
      <%= f.label :date %>
      <%= f.date_field :date%>
            <br>
      <%= f.label :content %>
      <%= f.text_area :content %>
      <%= f.hidden_field :album_id, value: @album.id %>
            <br><br>
      <%= f.submit "Submit" %>
<% end %>