<h4>All Reviews:</h4>
<small>(Written in the last 7 days)</small>
<br>
<% @albums.each do |album| %>
  <br>
  <br>
   <div class="row">
   <div display="flex">
    <div class="col s9 m5">
      <div class="card">
      <div class="center-align">
  Reviews for <%= link_to album.title, album_path(album) %> by <%= album.artist %>
  <br><br>
  <% if album.avatar&.attached? %>
    <image src="<%=(url_for(album.avatar))%>%" style="width:200px;height:200px;">
  <% end %><br>
  <br>
  <br>
 <% album.reviews.each do |review| %>
    <% unless review.id.nil? %>
        - <%= link_to review.title, album_review_path(album_id: album.id, id: review.id) %></strong>
        <% if current_user.id == review.user_id %>  |
        <small><%= link_to "Edit", edit_album_review_path(album_id: album.id, id: review.id) %> or 
        <%= link_to 'Delete', album_path(album_id: album.id, id: review.id), method: :delete, data: { confirm: 'Are you sure?' } %></small>
        <% end %>
        <br><br>
        </div></div></div></div></div>
        <br><br>
    <% end %>
<% end %>
  <br>
<% end %>
