<h5>
Showing <strong>"<%= @review.title %>"</strong> for 
</h5>
<%= render '/albums/album' %>
<br><br>
<hr>

    <% unless @review.id.nil? %>
        <small>Date written: <%= @review.date.strftime("%d %B %Y") %></small><br>
        <small>Written by: <%= @review.user.name %></small><br>
        <br>
        <strong>Title: <%= @review.title %></strong><br>
        <%= @review.content %><br>
        <br>
        <% if current_user.id == @review.user_id %>
        <%= link_to "Edit Review", edit_album_review_path(album_id: @album.id, id: @review.id), class: "waves-effect waves-light btn" %>
        <%= link_to 'Delete', album_review_path(album_id: @album.id, id: @review.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn" %><br><br>
        <% end %>
        <br><br>
    <% end %>

<br>
<strong>
<%= link_to "Write a New Review", album_path(@album), class: "waves-effect waves-light btn" %></strong>
<br><br>