<nav class="cyan darken-2">
<div class="container">
<ul><% if !logged_in? %>
<li><%= link_to "Sign Up", signup_path %></li>
<li><%= link_to "Sign In", signin_path %></li>
<% else %>
<li class="brand-logo">Logged in as <%= @current_user.name %></li>
<li class="right"><%= link_to "Sign Out", signout_path %></li>
<% end %>
</ul>
<ul class="right">
<% if current_user %>
<li><%= link_to "Your Reviews", user_path(current_user) %></li>
<% end %>
<li><%= link_to "View All Reviews", reviews_path %> |</li>
<li><%= link_to "All Albums", albums_path %> |</li>
<li><%= link_to "Upload a New Album", new_album_path %></li>
</ul>
</nav>
</div>