<!DOCTYPE html>
<html>
<head>
  <title>Music Reviews</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'layouts/navigation'%>
  </header>

<%= yield %>

</body>
</html>