<!DOCTYPE html>
<html>
  <head>
    <title>ReviewProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

   <body id = "main">
      <div id = "container">
         <div id = "header">
            <h1>Music Review App</h1>
         </div>
         <div id = "content">
            <%= yield %>
         </div>

         <div id = "sidebar"></div>
         
      </div>
   </body>
</html>
