<!DOCTYPE html>
<html>
  <head>
    <title>ReviewProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if !logged_in? %>
      <%= link_to "Sign Up", signup_path%> | 
      <%= link_to "Sign In", signin_path%>
    <% else %>
    <h3>Signed in as <%= current_user.name %> | <%= link_to "Sign Out", signout_path %></h3>
    <% end %>
  </head>

   <body>
    <%= yield %>
   </body>
</html>
